@media (max-width: 30em) {
  body {
    background-color: blue;
  }
}

.container {
  width: 500px;
  height: 500px;
  border: 5px solid rebeccapurple;
  margin: 20px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #ffdddd;
  margin: 30px;
  transform: rotate(0.5turn);
  border-top: 5px solid red;
}

label {
  display: block;
  margin: 1px;
  padding: 1px;
}

.field {
  margin: 1px;
  padding: 1px;
}

input:invalid {
  background-color: #ffdddd;
}

input:valid {
  background-color: #ddffdd;
}

input:required {
  border-color: #800000;
  border-width: 3px;
}

input:required:invalid {
  border-color: #2344d4;
}

form:invalid {
  border: 1px solid #ff0000;
}

form:valid {
  border: 1px solid #ddffdd;
}