
@font-face {
  font-family: 'kawayi';
  src: url('./fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
       url('./fonts/kaushanscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'kity';
  src: url('./fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('./fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: kity sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
  font-family: 'Mansalva', cursive;
}

h2 {
  font-size: 2.4rem;
  font-family: kawayi, cursive;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}