/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.5;
  word-spacing: 1px;
  letter-spacing: 0;
}

h1,
h2 {
  font-family: 'Times New Roman', Times, serif;

}

h1 {
  font-size: 3.2rem;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-size: 2.4rem;
}

p,
li {
  font-size: 1.6rem;
  line-height: 1.5;
}

section h2+p {
  text-indent: 20px;
}

a {
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid;
}

a[href*='http'] {
  background: url('./external-link-52.png') no-repeat 100% 0;
  background-size: 1.6rem 1.6rem;
  padding-right: 1.8rem;
}

a:link {
  color: #aa6666;
}

a:visited {
  color: #5f0a24
}

a:focus,
a:hover {
  color: #ee6666;
  border: none;
}

a:active {
  color: #799e12;
}

ol li {
  list-style-type: upper-roman;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: square;
}

nav ul li {
  list-style: none;
  border: 1px solid #aa6666;
  width: 12rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px black;
}

nav li a {
  display: inline-block;
  width: 100%;
  border: none;
  background-color: rgb(238, 86, 59);
  line-height: 3;
  color: black;
  letter-spacing: 1px;
  font-weight: bold;
}

nav a:link {
  color: black;
}

nav a:visited {
  color: black;
}

nav a:focus, nav a:hover {
  background-color: rgb(250, 186, 83);
}

nav a:active {
  color: white;
  background-color: rgb(58, 144, 0);
}

footer {
  text-align: center;
}